<div class="card bg-light mb-3">
    <div class="card-body note-body">
        @Note.Title
        <div style="margin-left: auto;">
            <button type="button" class="btn btn-info" style="margin-right: 1rem">Show note</button>
            <button type="button" class="btn btn-info">Edit note</button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Note Note { get; set; }
}