@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <div class="top-row px-4">
            <button type="button" class="btn btn-info navbar-btn"
                @onclick="(() => _newNote = true)">New note</button>
            <input class="form-control navbar-itm" placeholder="Enter search term"
                @bind-value="_searchText"
                @bind-value:event="oninput">
            Total notes: @_notesCount
        </div>

        <div class="content px-4">
            <CascadingValue Value="NotesCountEvent"> 
                <CascadingValue Value="_newNote">
                    <CascadingValue Value="AddNoteStateEvent">
                        <CascadingValue Value="_searchText">
                            @Body
                        </CascadingValue>
                    </CascadingValue>
                </CascadingValue>
            </CascadingValue>
        </div>
    </div>
</div>

@code {
    private int _notesCount { get; set; }

    private bool _newNote;      // Determiner of a Add note "card" render

    private string _searchText; // Contains search query


    public EventCallback<int> NotesCountEvent       // Event which will change the notes count without accesing database
        => EventCallback.Factory.Create<int>(this, SetNotesCount);

    public EventCallback<bool> AddNoteStateEvent    // Event which will change local variable (determiner of a new note "card")
        => EventCallback.Factory.Create<bool>(this, AddNoteState);
    

    private void AddNoteState(bool condition)
    {
        _newNote = condition;
    }


    private void SetNotesCount(int amount)
    {
        _notesCount += amount;
    }
}