@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <div class="top-row px-4">
            <button type="button" class="btn btn-primary navbar-btn">New note</button>
            <input class="form-control navbar-itm" placeholder="Enter search term">
            Total notes: @NotesCount
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {
    public int NotesCount { get; set; } = 0;
}